/* shared style mama */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* /* header-related-style */
.header-sec{
    padding-left: 160px;
    background: rgba(229, 84, 115, 0.10);    
}

.main-header{
    display: flex;
}
.h-h1{
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
    }
.h-h6{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13px;
    font-size: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
   
    
    
}
.h-btn{
    border-radius: 8px;
    background: #E55473;
    color:aliceblue;
    border: 0px;
    display: inline-flex;
    padding: 15px 43px;
    align-items: flex-start;
    gap: 12px;
}

.himg{
    width: 635px;
    height: 500px;
    padding-right: 100px;
    padding-top: 50px;
    

}
/* this is the footer part */

.f-text1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 95px;
}
.f-text2{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 50%;
    margin: auto;
    padding-top: 7px;

}
.div1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 475px;

}
.div2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 400px;
    height: 475px;

}
.div3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 400px;
    height: 475px;
}

/* picture section */
.pic1{
  padding: 50px;
  height: 380px;
   
}
.pic3{
    margin-right: 250px;
    padding-left: 20px;
  
}
.body-fool{
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 100px;
}
.pinki , .lali , .holud{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 35px;
text-decoration-line: underline;
}


.menu-bar{
   
   
    padding-left: 600px;
    
    margin-top: 120px;

    
}
.section2{
    width: 1240px;
    height: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    margin-right: 30px;
    margin-top: 200px;
    padding-bottom: 10px;
    
    
}
.job1p , .job2p , .job3p{
    width: 88px;
    height: 88px;
    justify-content: space-between;
    
}
.job{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.off{
    color:#E55473
}
.offer{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;
margin-bottom: 30px;
padding-top: 150px;
/* padding-right: 50px; */


}
.txtoffer{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px;
align-items: center;

}
.btnoffer{
    border-radius: 8px;
background: #E55473;
height: 50px;
width: 150px;
gap: 10px;
border: 0px;




}
.section-3{
    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
width: 1500px;
height: 750px;
text-align: center;
padding-top: 20px;

}
.sec3{
    padding-top: 70px;
   
}

  

.convert{
 display: flex;
}
.flw{
    width: 318px;
height: 420px;
/* flex-shrink: 0; */
padding-left: 900px;
padding-bottom: 50px;
}
.sng{
    color: white;
}
.textitem{
    text-align: center;
  
}
.instra{
    color: #272727;

font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;

}
.luso{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.section4{
    padding-left: 140px 140px;
    padding
}
.p2 {
    padding-left: 50px;
}
.p1{
    padding-left: 10px;
}
.p3{
    padding-left: 10px;
}
.p4{
    padding-left: 10px;
}
.imageitem{
    padding-left: auto;
}
.src{
    border-radius: 8px;
background: url(<path-to-image>), lightgray 0px -203.444px / 100% 213.755% no-repeat;

flex-shrink: 0;
padding-left: 50px;
}
.imagesrc{
    width: 1440px;
height: 400px;
}
.janniti{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.deals{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-top: 70px;
}

.section5{
    background-image: url("./flower/lofi.png");
    width: 1440px;
height: 300px;
padding-bottom: 50px;
}
.kothin{
   
    border-radius: 8px;
background: #FFF;
width: 600px;
height: 64px;

}
.sec5main{
    padding-top: 100px;
    padding-right: 40px;
    padding-left: 40px;
}
.ok{
    justify-content: center;
}
.sbtn{
    border-radius: 8px;
background: #E55473;
border: 0px;
width: 150px;
height: 64px;
}
.lastdv{
    padding-left: 300px;
}
.llali{
    color: #E55473;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.xoss{
    color:#FFFFFF;
    font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.lastsection{
    background-color: #111010;
    width: 1500px;
height: 300px;
flex-shrink: 0;
text-align: center;
padding-top: 20px;

}
.devision{
    padding-top: 60px;
}
.sub{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.sup{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.hotas{
    border-radius: 8px;
background: #E55473;
border:0px;
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
}
.ops{
    color: white;
}
.nop{
    padding-left: 900px;
    padding-bottom: 1200px;
     width: 300px;
 height: 300px;
    
}
.sec3{
    display: flex;
    justify-content: space-between;
}
.section-3{
    text-align: center;
}
.convert{
    /* padding-bottom: 90px; */
}

.hot-deal {
    margin-top: 150px;
    height: 620px;
    padding-right: 350px;
    padding-left: 300px;
    background: rgba(229, 84, 115, 0.05);
    padding-top: 150px;
}

#div-one {
    width: 65%;
    text-align: center;
    margin-top: 100px;
}

#div-two {
    width: 35%;
}

.same-division {
    float: left;
}

.color-add {
    color: #E55473;
}

.font-sizing {
    font-size: 35px;
}

.color-change {
    color: rgb(140, 137, 137);
}

.btn-hover {
    background-color: #E55473;
    padding: 12px 30px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}